/*Geralzão*/

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a, p {
    font-family: Helvetica, Arial, sans-serif;
}

.btn-contact {
    width: 90px;
    height: 30px;

    border: 2px solid #FB4C47;
    box-sizing: border-box;
    border-radius: 46px;
    padding-top: 5px;
}

.btn-lets {
    width: 250px;
    height: 80px;

    background: #FB4C47;
    box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
    border-radius: 65px;
    border: none;
    font-family: helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    margin-top: 40px;
}

.btn-learnmore {
    width: 200px;
    height: 65px;

    background: rgba(250, 86, 82, 0.15);
    border-radius: 65px;
}
/* Header */
.logo {
	margin-top: 10px;	
}

.menuHeader ul {
	text-align: right;
}

.menuHeader ul li {
	margin-top: 25px;
	display: inline-block;
	margin-left: 20px;
	padding-right: 15px;

}

.menuHeader a {
	text-align: right;
	color: #035755;
	font-size: 16px;
}

.menuHeader a:hover {
	color: #FB4C47;
}

.btnContact {
    width: 90px;
    height: 30px;
    border: 2px solid #FB4C47;
    box-sizing: border-box;
    border-radius: 46px;
    padding-top: 5px;
    /* Coloquei essa classe aqui porquê a config padrão na pág. style.css não está configurada o suficiente.*/
}