img {
	display: block;
	width: 100%;
}

.newsletter {
 margin-top: 120px;
}

.newsletter h1 {

	font-family: Helvetica, Arial, Sans-serif;
	font-size: 32px;
  font-weight: bold;
  margin-top: 20px; 
	color: #035755;
  line-height: 140%;
  margin-top: 20px;
  text-align: center;

}



#form  {
	margin-top: 10px;
	background: #FFFFFF;
	box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
	border-radius: 57px;
	padding: 20px 10px 20px 120px;
	margin-left: 100px;
	text-align: center;
	border: none;
}

.report  {
 border: 1px solid;
}