@media only screen and (min-width: 788px) { 
    #mobile-whatShouldWeDo {
        display: none;
    }

    .mobile {
        display: none;
    }
}

/* TABLET */

@media only screen and (min-width: 788px) and (max-width: 979px) {

    .menuHeader ul {
        margin: 0;
    }

    .menuHeader ul li{
        margin-top: 29px;
    }
    .menuHeader a {
        padding: 24px 8px;
    }

    .img-whatShouldWeDo, .img-whatShouldWeDo-impar {
        margin-top: 30%;
    }

    .whatShouldWeDo-text {
        padding: 0 70px;
    }

    #mobile-whatShouldWeDo {
        display: none;
    }
}

/* MOBILE */

@media only screen and (max-width: 787px) {

    .logo {
        width: 60%;
        margin-left: 45px;
    }

    .menuHeader ul {
        text-align: center;
    }

    .menuHeader li {
        margin-bottom: 20px;
    }

    .menuHeader ul li a {
        margin: 0;
        padding: 5px;
    }

    /* ALERT */
    .img-alert {
        width: 100%;
        margin-left: -10px;
    }

    .desktop {
        display: none;
    }

    .covid19-title {
        margin-top: 32px;
    }

    .title-after-covid  {
        font-size: 24px;
    }

    .text-general {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .btn-lets {
        height: 60px;
    }

    /* WHAT IS COVID */
    .img-what-is-covid  {
        margin-left: -15px;
    }

    /* CONTAGION */
    .contagion-title {
        font-size: 24px;
    }

    .contagion-text, .symptoms-text {
        padding: 0;
        margin-bottom: 48px;
    }

    .covid19-contagion, .mobile-align, .contagion-text, .covid19-symptoms, .symptoms-title, .symptoms-text, .covid19-whatShouldWeDo, .whatShouldWeDo-title, .whatShouldWeDo-text {
        text-align: left;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    /* SYMPTOMS */
    .symptoms-title {
        font-size: 24px;
    }

    /* WHAT SHOULD WE DO */
    .whatShouldWeDo-text {
        padding: 0px;
    }

    .img-whatShouldWeDo-impar, .img-whatShouldWeDo {
        margin: 0;
    }

    .title-steps-whatShouldWeDo {
        font-size: 24px;
        margin-top: 0;
    }

    .text-steps-whatShouldWeDo {
        width: 100%;
        font-size: 16px;
        margin-bottom: 100px;
    }

    .container {
        margin: 0 auto;
    }

    .number-whatShouldWeDo {
        margin-top: 30px;
        display: none;
    }

    .section-defini {
        margin: -10px;
    }

    .justmargin {
        margin-top: 10px;
    }

    .justmargin2 {
        margin-top: 80px;
    }

    #desktop-whatShouldWeDo {
        display: none;
    }

    .have-question {
        padding: 0;
    }

    .have-question {
        margin: 0;
    }

    .background-email {
        margin: 0;
        padding: 0;
    }

    .email-input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .send-email {
        margin: 0;
    }

    .logo-footer {
        display: none;
    }

    .footerMenu {
        margin-bottom: 48px;
        margin-left: 50px;
    }

    .socialMedia {
        margin-left: 40px;
    }

    .copy {
        margin-top: 40px;
    }
}